<div class="page-header">
  <div class="container">
    <h1>Compare your location</h1>
  </div>
</div>
<div class=" wrapper-main">
  <div class="container">
    <div class="row">

      <%= form_for @price_request, url: compare_locations_path, method: 'get' do |f| %>
        <div class="col-sm-3">
          <span> Address</span>
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <div class="col-sm-3">
          <span> Monthly Average Rental</span>
          <%= f.text_field :avg_long_term_rental, class: "form-control" %>
        </div>
        <div class="col-sm-3">
          <%= button_tag 'Compare', type: :button, id: 'compare_button', class: "btn btn-primary", style: "margin-top: 17px;" %>
        </div>
        <%= hidden_field_tag 'location_data' %>
      <% end %>
    </div>
    <br/
    <div class="row">
      <div class="col-sm-12 rent_diff"></div>
    </div>
  </div>
</div>
<script>
  function initAutocomplete() {
    var input = document.getElementById('price_request_address');
    var searchBox = new google.maps.places.SearchBox(input);
    var location = {};
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
      if (places.length == 0) {
      return;
      }
      var place = places[0];
      location['region'] = place.name;
      location['address'] = place.formatted_address;
      $('#location_data').val(JSON.stringify(location))
      //send_request();
    });
  }

function search_data(){
  if ( $('#price_request_address').val().trim() == '' ){
   return null
  }
  var location = JSON.parse($('#location_data').val())
  var rent = $('#price_request_avg_long_term_rental').val();
  return {location: location, avg_long_term_rental: rent}
}

function send_request(){
  var seacrh_data = search_data();
  if (seacrh_data == null){return }
  $.ajax({
    type: "GET",
    url: "<%= compare_locations_path %>",
    data: seacrh_data,
    success:function(data){
      var rent = parseFloat($('#avg_long_term_rental').val() || 0)
      var airbnb_income = parseFloat(data.average_income)
      $('.rent_diff').html("<div class='rent_data'> <div>Airbnb Rent: "+ data.average_income + "</div> <div>Rent Diffrence: "+ (airbnb_income - rent) +"</div><div>")
    }
  })
}
$( "#compare_button" ).click(function() {
 send_request();
});


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5lq0M6di9Dc1cG2YlZjfxW1Ud6BxL_wU&libraries=places&callback=initAutocomplete" async defer>
</script>
